<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="recursos/css/styleindex.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Nunito+Sans:opsz,wght@6..12,300&display=swap"
      rel="stylesheet"
    />
    <title>Leiza-Shop</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="header-info">
          <div class="header-info-logo">
            <a href="/">
              <img src="recursos/img/Leiza-Logo.svg" alt="Leiza-Logo" />
            </a>
          </div>
          <ul class="header-info-login">
            <li>
              <img
                class="icon-user"
                src="recursos/img/icon-user.svg"
                alt="icon-user"
              />
              <span>Iniciar Sesión</span>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="sec-Home">
      <div class="fondo hombre">
        <a href="hombre"><h1>HOMBRE</h1></a>
      </div>
      <div class="fondo mujer">
        <a href="mujer"><h1>MUJER</h1></a>
      </div>
    </section>
  </body>
</html>
