

.header-categories-list{
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin:auto;
    padding-bottom: 10px;

}

.header-categories-list li{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.8s ease;
}

.header-categories-list li:hover{
    transform: scale(1.1); /* Aumenta en un 10% (1 + 0.1) */    
}

.header-categories-list img{
    height: 100px ;
    width: auto;
}


.seccion{
    height: 100vh;
    
    transition: height 0.5s ease, opacity 0.5s ease;
}

  .seccion div h1{
    color: black;
    font-size: 40px;
    text-align: center;
  }
  
  .oculta {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  
  .visible {
    opacity: 1;
  }

 
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item{
    width: 25%;
    height: 100%;
    background-color: white;
    padding: 0 7px;
    box-sizing: border-box;
}
  
.item img{
    width: 100%;
    height: auto;
}

.contenido{
    box-sizing: border-box;
    padding: 0 44px;
}

.producto-info{
    display: flex;
    flex-direction: column;
align-items: center;
font-size: 13px;
padding: 0 0 45px 0;
}

.precio{
    font-weight: bolder;
}

@media (max-width: 900px) {
    .contenido{
        padding: 0;
    }

    .item{
        padding: 0;
    }

    .producto-info{
        font-size: 12px;
    }
}